
@font-face {
    font-family: Actor;
    src: url('../font/Actor/Actor-Regular.ttf');
}
@font-face {
    font-family: josefine;
    src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: lexend;
    src: url('../font/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}